{% include "header.html" %}
<h1>Change Password</h1>
<form action="/changepassword" method="POST">
   <div>
     Old Password
   </div>
   <input type="password" name="old_password"></input>
   <div>
     New Password
   </div>
   <input type="password" name="new_password"></input>
   <div>
   <input type="submit" value="Change"/>
   </div>
    {% if error %}
    <p class="error">
    <strong>Error: Incorrect Password. Please try again </strong>
    </p>
    {% endif %}
    {% if error2 %}
    <p class="error 2">
      <strong>Error: Your new password is the same as your old password. Please try again.</strong>
    </p>
    {% endif %}
</form>
