<html>
  <header>
    <style>
      table {
        table-layout: fixed;
        width: 200px;
      }

      th,td {
        width: 100px;
        overflow: hidden;
      }
    </style>
  </header>
  <body>
    {% include "header.html" %}
    <h1>Categories</h1>

    <table>
      <tr>
      <td><b>Men</b></td>
      <td><b>Women</b></td>
      </tr>
    <tr>
      <td>
        asdasdf
      </td>
      <td>
        asdasdf
      </td>
    </tr>
    </table>
    {% include "footer.html" %}
  </body>
</html>
